*{
    margin: 0;
    box-sizing: border-box;
    margin-block-end: 0;
}

body{
    background-color: #001733e8 !important;
}

.word_letter{
    width: 75px !important;
    height: 75px !important;
    background-color: #001229;
    border: 2px solid #000a18;
    color: rgb(255, 255, 255);
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border-radius: 12px;
    margin-left: 10px;
}

.letter_box{
    padding: 5%;
    width: 80%;
    height: 500px;
    background-color: #001733 !important;
    border: solid 3px #414a70;
    box-shadow: 10px #8395e2;
    border-radius: 30px;
    margin: auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    .letters{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

.bar{
    width: 100%;
    height: 70px;
    background-color: #001733;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #000 !important;
    h1 {
        font-size: 50px;
    }
}

.def{
    color: rgb(0, 0, 0) !important;
    width: 400px;
    text-align: center;
}

.form-control {
    text-align: center;
    color: white !important;
    background-color: #001229 !important;
    font-weight: bold;
    border: 2px solid #414a70 !important;
  }
  .form-control::placeholder {
    color: white !important;
    font-weight: bold;
  }

input:focus::placeholder {
    color: transparent;
  }
#TESTWORD {
    color: black;
}
